<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <title>HelloJunho's Personal Site</title>
  </head>

  <body>
    <table cellspacing="20">
      <tbody1><tr>
        <td><img src="static/hellojunho's profile_1.jpg", width="150" alt="hellojunho's profile picture"></td>
        <td><h1>Junho</h1>
        <p><em>GitHub: <strong><a href="https://github.com/hellojunho/">https://github.com/hellojunho</a></strong>.</em></p>
        <p>I am an Web Developer. I ❤️ Soccer, game and coffee.</p></td>
      </tr>
    </tbody1></table>
    <hr>
    <h3>Learn and Study</h3>
    <ul>
      <li>The Complete Web Development Bootcamp</li>
    </ul>
    <hr>
    <h3>Work Experience</h3>
    <table cellspacing="10">
      <thead>
        <tr>
          <th>Dates</th>
          <th>Work</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        </tr>
      </tbody>
    </table>
    <hr>
    <h3>Skills ️ ( ~⭐️⭐️⭐️⭐️⭐️)️</h3>
    <table cellspacing="10">
      <tbody><tr>
        <td>iOS Development</td>
        <td></td>
      </tr>
      <tr>
        <td>Web Development</td>
        <td>⭐️⭐️⭐️</td>
      </tr>
       <tr>
        <td>Programming</td>
        <td>⭐️⭐️⭐️️</td>
      </tr>
      <tr>
        <td>Photography</td>
        <td></td>
      </tr>
    </tbody></table>
    <hr>
    <a href="templates/profile/hobbies.html">My Hobbies</a>
    <a href="https://angelabauer.github.io/cv/contact-me.html">Contact Me</a>
  

</body></html>